<p>This is a test</p>
<p>This is a simple test</p>
<p>This is a test with <%= foo %></p>
<p><% if (count == 1) { %>This is a simple plural test<% } else { %>These are <%= count %> simple plural tests<% } %></p>
<p><% if (count == 1) { %>This is a plural test<% } else { %>These are <%= count %> plural tests<% } %></p>
<p><% if (count == 1) { %>This is a plural test with <%= foo %><% } else { %>These are <%= count %> plural tests with <%= foo %><% } %></p>
<p><% if (count == 1) { %>One test<% } else if (count < 10) { %>A few tests<% } else { %><%= count %> tests<% } %></p>